body {
    text-align: center;
    background-color: rgb(232, 235, 235);
     
}
.lines {
    font-family: monospace;
    font-style: italic;
}
.display-4 {
    font-weight: 600;
    font-family: monospace;
    font-style: initial;
}
.my-pic {
 
    width: 250px;
    position: relative;
  height: 200;
  size: inherit;
   }


.list{
    font-family: sans-serif;
    font-style: italic;
    color: slategrey;
}

.item1 { grid-area: header; }
.item2 { grid-area: menu; }
.item3 { grid-area: main; }
.item4 { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header header header header header header'
    'menu main main main right right'
    'menu footer footer footer footer footer';
  grid-gap: 10px;
  background-color: rgb(232, 235, 235);
  padding: 10px;
}

.grid-container > div {
  background-color: rgb(219, 223, 223);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}